:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  direction: rtl;
}

body {
  margin: auto;
  max-width: 1000px;
  min-height: 100vh;
  padding: 10px;
  background-color: #fff;
  color: #e0e0e0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
